<h5><span>ジャンル一覧・追加</span></h5>

  <%= form_for @genre, url: admin_genres_path do |f| %>

  <% if @genre.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <ul>
        <% @genre.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
        <strong>
		      <%= f.label :ジャンル %>
        </strong>
		  <%= f.text_field :name, class: "form-control ml-3" %>
    </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-sm-6">

<table class="table">
  <thead>
    <tr class="table-info">
      <th>ジャンル</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @genres.each do |genre| %>
      <tr class="table-light">
        <td><%= genre.name %></td>
        <td><%= link_to '編集する', edit_admin_genre_path(genre) ,class: "btn btn-primary"%></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>