<div class="row">
  <div class="col">
    <h5 class="offset-sm-3"><span>管理者ログイン</span></h5>
    <div class="form-row text-center justify-content-center">
      <%= form_for :admin, url: admin_sign_in_path do |f| %>

        <div class="field form-inline">
          <%= f.label :メールアドレス, class: "col-sm-4 text-right" %>
          <%= f.email_field :email, class: "col-sm-6 form-control", size: 60, value: "#{@email}" %>
        </div>

        <div class="field mt-2 form-inline">
          <%= f.label :パスワード, class: "col-sm-4 text-right" %>
          <%= f.password_field :password, class: "col-sm-6 form-control", size: 60, value: "#{@password}" %>
        </div>

        <div class="actions justify-content-center mt-4">
          <%= f.submit "ログイン", class: "btn btn-primary" %>
        </div>

      <% end %>
    </div>
  </div>
</div>